* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}
img{
    width: 40px;
}

body {
    min-height: 100vh;
    background: url("fond.jpg") bottom no-repeat;
    background-size: cover;

}

.container-fluid {
    padding: 0;
   
}

.box-container {
    width: auto;
    height: auto;
    display: flex;
    flex-wrap: wrap;

}

.box {
    width: 45%;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 2em;
    align-items: center;
    color: #fff;
    border-radius: 35px;
    margin: 5px;
    border: 2px solid #fff;
    box-shadow: 1px 1px 5px 5px rgba(0, 0, 0, 0.445);
}

#city {
    background: rgba(255, 217, 0, 0.452);
}

#temp {
    background: rgba(86, 9, 175, 0.541);
}

#humidity {
    background: rgba(255, 0, 13, 0.452);
}

#wind {
    background: rgba(114, 123, 143, 0.486);
}

h2,
p,
a {
    color: #fff;
}

.btn-secondary a:hover {
    color: rgb(17, 17, 17) !important;
    text-decoration: none;
}


.txt-larg {
    font-size: 1.5em;
    color: #fff;
}

.bg-custom {
    background: #06020f80;
    border-radius: 15px;
    padding: 50px 50px;
}

footer {
    top: 100%;
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: 0;
    position: sticky;
}

.display-4 {
    text-align: center;
}

/* PAGE ABOUT */

.about-page {
    background: rgba(128, 128, 128, 0.781);
    padding: 50px;
    margin-top: 50px;
    padding-bottom: 250px;
    border-radius: 15px;
}

.btn {
    width: 100%;
}

.fas {
    font-size: 1.7em;
}

.bg-form {

    background: rgba(12, 156, 240, 0.781);
    border-radius: 15px;
}